<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Upload System Tadeas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${param.error}" th:text="#{login.badCredentials}"></div>
    <div class="alert alert-danger" role="alert" th:if="${param.logout}" th:text="#{login.logout}"></div>
    <div class="row menu">
        <div class="col-md-11 col-xs-12">
            <h2 th:text="#{login.title}"></h2>
        </div>
    </div>
    <!--<div th:text="#{login.label}"></div>-->
    <div class="col-md-6">
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username" th:text="#{login.username}">:</label>
                <input type="text" class="form-control" name="username" id="username"/>
            </div>
            <div class="form-group">
                <label for="password" th:text="#{login.password}">:</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" th:text="#{login.button}"></button>
            </div>
            </table>
        </form>
    </div>
</div>

</body>
</html>

