<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Upload System Tadeas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/validator.min.js}"></script>

</head>
<body>

<div class="container">
    <!--MENU-->
    <div class="row menu">
        <div class="col-md-11 col-xs-12">
            <h2 th:text="#{login.title}"></h2>
        </div>
    </div>

    <!--ALERT-->
    <div class="alert alert-danger" role="alert" th:if="${param.error}" th:text="#{login.badCredentials}"></div>
    <div class="alert alert-danger" role="alert" th:if="${param.logout}" th:text="#{login.logout}"></div>

    <!--CONTENT-->
    <div class="col-md-6">
        <form th:action="@{/login}" method="post" data-toggle="validator">
            <div class="form-group has-feedback">
                <label for="username" th:text="#{login.username}">:</label>
                <input type="text" class="form-control" name="username" id="username" data-minlength="4"
                       pattern="^[a-zA-Z0-9_]*$" required maxlength="100"
                       th:attr="data-requiered-error=#{login.emptyLogin}, data-minlength-error=#{login.tooShortLogin}, data-pattern-error=#{login.patternBreakLogin}"
                />
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group has-feedback">
                <label for="password" th:text="#{login.password}">:</label>
                <input type="password" class="form-control" name="password" id="password"  data-minlength="4"
                       pattern="^[a-zA-Z0-9_]*$" required maxlength="100"
                       th:attr="data-requiered-error=#{login.emptyPassword}, data-minlength-error=#{login.tooShortPassword}, data-pattern-error=#{login.patternBreakPaswword}">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" th:text="#{login.button}"></button>
            </div>
            </table>
        </form>
    </div>
</div>

</body>
</html>

