<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload System Tadeas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 th:text="#{greeting}"></h2>
    <div th:text="#{login.label}"><a th:href="@{/greeting}"></a></div>
    <div class="col-md-6">
        <form action="#" th:action="@{/login}" th:object="${form}" method="post">
            <div class="form-group" th:classappend="${#fields.hasErrors('login')} ? 'has-error'">
                <label for="user" th:text="#{login.username}">:</label>
                <input type="text" class="form-control" th:field="*{login}">
                <span id="username-help" class="help-block" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Username error message.</span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                <label for="user" th:text="#{login.password}">:</label>
                <input type="password" class="form-control" th:field="*{password}">
                <span id="password-help" class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Username error message.</span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" th:text="#{login.button}"></button>
            </div>
            </table>
        </form>
        <form method="get">

        </form>
    </div>
</div>

</body>
</html>
