<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload System Tadeas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <!--MENU-->
    <div class="row menu">
        <div class="col-md-10 col-xs-12">
            <h2 th:text="#{upload.title}"></h2>
        </div>
        <div class="col-md-1 col-xs-12 text-center">
            <h4><a th:href="@{/logout}" th:title="#{logout.logoutTolltip}" data-toggle="tooltip"
                   data-placement="bottom"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
            </h4>
        </div>
    </div>

    <!--ALERT-->
    <div class="alert alert-danger" role="alert" th:if="${badCredentials}" th:text="#{login.badPassword}"></div>
    <div class="alert alert-info" role="alert" th:if="${alertOk}" th:text="#{upload.file.ok}"></div>

    <!--CONTENT-->

    <div class="row">
        <div class="col-md-12">
            <table id="task-detail" class="table table-striped table-responsive">
                <tbody>
                <tr>
                    <th th:text="#{task.name}"></th>
                    <td th:text="${task.name}"></td>
                </tr>
                <tr>
                    <th th:text="#{task.issuer}"></th>
                    <td th:text="${task.issuer.firstName} + ' ' + ${task.issuer.lastName}"></td>
                </tr>
                <tr>
                    <th th:text="#{task.active}"></th>
                    <td th:text="${task.active}"></td>
                </tr>
                <tr>
                    <th th:text="#{task.issueDate}"></th>
                    <td th:text="${task.issueDate}"></td>
                </tr>
                <tr>
                    <th th:text="#{task.definition}"></th>
                    <td th:text="${task.definition}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <form action="upload.html" th:action="@{/uploadFile(id=${task.id})}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label th:text="#{upload.input.label}">:</label>
                <input type="file" class="form-control" name="file">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" th:text="#{upload.button}"></button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(".alert").fadeTo(15000, 500).slideUp(1000, function () {
        $(".alert").alert('close');
    });
</script>

</body>
</html>